<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ClipboardMonitor.CMSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="ClipboardMonitor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <ClipboardMonitor.CMSettings>
            <setting name="RDPLocation" serializeAs="String">
                <value>C:\Users\Alex Castro\Desktop\Connect to Server.rdp</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>LLFADB119</value>
            </setting>
            <setting name="InitialSetup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </ClipboardMonitor.CMSettings>
        <ClipboardMonitor.Settings1>
            <setting name="RDPLocation" serializeAs="String">
                <value />
            </setting>
        </ClipboardMonitor.Settings1>
    </userSettings>
</configuration>
